	<div class="social-menu">
	        <a href="http://feeds.feedburner.com/BitOfNothing" target="_blank"><img src="/media/images/rss.png" border="0"></a>
	        <a href="http://www.twitter.com/kylethielk" target="_blank"><img src="/media/images/twitter.png" border="0"></a>
	        <a href="https://www.github.com/kylethielk" target="_blank"><img src="/media/images/github.png" border="0"></a>
	        <a href="http://www.linkedin.com/pub/kyle-thielk/19/213/103" target="_blank"><img src="/media/images/linkedin.png" border="0"></a>
	        <a href="https://plus.google.com/115173139610601264088" target="_blank"><img src="/media/images/google.png" border="0"></a>
	    </div>
Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}
<br>
Powered by Octopress.

